{{ define "main" }}

<div class="content-container">
  <div class="ui grid">
    <div class="sixteen wide column">
      <div class="ui padded segment">
        <div class="ui header">
          <h1>{{ .Title }}</h1>
        </div>
        <div>
          {{ partial "date-and-tags.html" . }}
        </div>
        <p>{{ .Content }}</p>
        <button class="ui black button" onclick="goBack()">
          Back
        </button>
        <a href="/">
          <button class="ui black button">
            Home Page
          </button>
        </a>
      </div>
    </div>
  </div>
</div>

{{ template "_internal/disqus.html" . }}

{{ end }}