{{ define "main" }}

<div class="content-container">
  <div class="ui grid">
    <div class="sixteen wide column">
      <div class="ui padded segment">
        <div class="ui header">
          <h1>{{ .Title }}</h1>
        </div>
        {{ $dateTime := .PublishDate.Format "2006-01-02" }}
        {{ $dateFormat := .Site.Params.dateFormat | default "Jan 2, 2006" }}
        Created On: <time datetime="{{ $dateTime }}">{{ .PublishDate.Format $dateFormat }}</time>
        <p>{{ .Content }}</p>
        <button class="ui black button" onclick="goBack()">
          Back
        </button>
      </div>
    </div>
  </div>
</div>

{{ template "_internal/disqus.html" . }}

{{ end }}