{{ define "main" }}

<div class="content-container">
  <div class="ui grid container">
    {{ range .Site.RegularPages }}
    <div class="sixteen wide tablet eight wide computer column">

      <div class="ui padded segment">
        <div class="ui header">
          <a href="{{ .RelPermalink }}" class="header-link">
            {{ .Title }}
          </a>
        </div>
        <p>
          {{ .Summary | safeHTML | truncate 50 }}
          <p>
            <a href="{{ .RelPermalink }}">Read More…</a>
          </p>
        </p>
      </div>
    </div>
    {{ end }}

  </div>
</div>

{{ end }}